{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_person') }}" method=post class=add-entry>
      <dl>
        <dt>姓名:
        <dd><input type=text size=30 name=name>
        <dt>工资号:
        <dd><input type=input size="30" name="wageid" />
        <dt>性别:
          <dd><select name="sex">
            <option value="男">男</option>
            <option value="女">女</option>
          </select>
        <dt>岗位:
          <dd><input type="title" size="30" name="title" />
        <dt>类别:
          <dd>
            <select name="category">
              <option value="teacher">专业技术岗</option>
              <option value="worker">工勤岗、外聘人员</option>
           </select>
        <dd><input type=submit value=“提交”>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for person in persons %}
    <li><h2>{{ person.name }}</h2>{{ person.title|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
