{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

  <ul class=entries>
  {% for person in persons %}
    <li>
    <h2>#{{ person.id }}  - {{ person.name }}</h2>
      岗位：{{ person.title|safe }}<br/>
      工资号：{{ person.wageid }}<br/>
      性别：{{person.sex}}<br/>
      类别:{{person.category}}<br/>
    </li>
     {% if person.category == 'teacher'%}
     <li>

       - <a href="{{url_for( 'show_classtech_teacher' , person_id= person.id )}}" >教学工作量</a>
       - <a href="{{url_for( 'show_afterclass_teacher' , person_id= person.id )}}" >非教学工作量</a>
       - <a href="{{url_for( 'show_inno_days' , person_id= person.id )}}" >创新实践</a>
       - <a href="{{url_for( 'show_factors_teacher' , person_id= person.id )}}" >系数设置</a>
       - <a href="{{url_for( 'report_mywork_teacher' , person_id= person.id )}}" >报表</a>

     </li>
     {% else %}
    <li>
      <a href="{{url_for( 'show_classtech_worker' , person_id= person.id )}}" >教学工作量</a>
      <a href="{{url_for( 'show_afterclass_worker' , person_id= person.id )}}" >非教学工作量</a>
      <a href="{{url_for( 'show_inno_days' , person_id= person.id )}}" >创新实践</a>
      <a href="{{url_for( 'show_factors_worker' , person_id= person.id )}}" >系数设置</a>
      <a href="{{url_for( 'report_mywork_worker' , person_id= person.id )}}" >报表</a>
     </li>
      {% endif %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
